multitask_RL==0.1.0
libero==0.1.0
oauthlib==3.3.1
Markdown==3.10
distrax==0.1.5
hydra-core==1.3.2
namex==0.1.0
Farama-Notifications==0.0.4
docker-pycreds==0.4.0
python-dotenv==1.1.1
nvidia-cuda-nvrtc-cu12==12.8.93
polars-runtime-32==1.34.0
mujoco==3.3.1
python-dateutil==2.9.0.post0
tinycss2==1.4.0
opt_einsum==3.4.0
requests==2.32.3
referencing==0.37.0
equinox==0.13.2
dm-env==1.6
future==1.0.0
pyarrow==21.0.0
traitlets==5.14.3
nbclient==0.10.2
sentry-sdk==2.26.1
nvidia-cuda-cupti-cu12==12.8.90
tokenizers==0.21.4
simplejson==3.20.1
rfc3987-syntax==1.1.0
nvidia-cuda-nvrtc-cu11==11.7.99
google-auth-oauthlib==1.2.2
babel==2.17.0
openpi-client==0.1.0
tensorboard-data-server==0.7.2
stack-data==0.6.3
jupyterlab==4.4.9
isoduration==20.11.0
libclang==18.1.1
jupyter_server==2.17.0
humanize==4.12.0
orbax-checkpoint==0.11.12
markdown-it-py==3.0.0
nvidia-cudnn-cu11==8.5.0.96
multitask_RL==0.1.0
certifi==2025.1.31
smmap==5.0.2
nvidia-nccl-cu12==2.26.2.post1
nvidia-cusolver-cu11==11.4.0.1
tqdm-loggable==0.2
decorator==5.2.1
torch==2.0.1
triton==2.0.0
sniffio==1.3.1
notebook==7.4.7
charset-normalizer==3.4.1
svgwrite==1.4.3
fastjsonschema==2.21.2
fqdn==1.5.1
propcache==0.4.1
bleach==6.2.0
pyparsing==3.2.3
setuptools==80.9.0
rpds-py==0.27.1
pure_eval==0.2.3
tensorboard==2.20.0
toml==0.10.2
importlib_resources==6.5.2
nvidia-cufft-cu11==10.9.0.58
MarkupSafe==3.0.3
sentencepiece==0.2.1
flatbuffers==25.12.19
notebook_shim==0.2.4
Werkzeug==3.1.4
filelock==3.20.0
astunparse==1.6.3
frozenlist==1.8.0
jupyter-lsp==2.3.0
jax-cuda12-pjrt==0.6.0
regex==2025.9.18
tensorflow-estimator==2.15.0
platformdirs==4.3.7
requests-oauthlib==2.0.0
jaxlib==0.6.0
jsonpointer==3.0.0
PyYAML==6.0.2
nvidia-cuda-runtime-cu12==12.8.90
tornado==6.5.2
zipp==3.21.0
gast==0.6.0
nvidia-cuda-cupti-cu11==11.7.101
protobuf==5.29.4
executing==2.2.1
anyio==4.11.0
nbconvert==7.16.6
nvidia-cuda-runtime-cu11==11.7.99
polars==1.34.0
imageio==2.37.0
optax==0.2.4
pyasn1_modules==0.4.2
sympy==1.14.0
flax==0.10.5
robosuite==1.4.0
prompt_toolkit==3.0.52
aiohttp==3.13.1
jax-cuda12-plugin==0.6.0
cachetools==6.2.1
nvidia-cufft-cu12==11.3.3.83
nvidia-nvtx-cu11==11.7.91
cmake==4.1.0
tensorflow-io-gcs-filesystem==0.37.1
jupyter-events==0.12.0
proglog==0.1.12
mdurl==0.1.2
google-api-core==2.26.0
pytest==8.4.2
soupsieve==2.8
pandocfilters==1.5.1
ipython==9.6.0
wheel==0.45.1
nest-asyncio==1.6.0
nvidia-cusparse-cu11==11.7.4.91
annotated-types==0.7.0
nvidia-cusparse-cu12==12.5.8.93
google-crc32c==1.7.1
gym-notices==0.0.8
google-cloud-storage==3.4.1
gymnasium==1.1.1
Jinja2==3.1.6
wadler_lindig==0.1.7
packaging==25.0
numba==0.62.1
chex==0.1.89
PyOpenGL==3.1.9
contourpy==1.3.3
fsspec==2025.3.2
tensorflow-datasets==4.9.9
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparselt-cu12==0.7.1
overrides==7.7.0
libero==0.1.0
nvidia-cudnn-cu12==9.8.0.87
pydantic_core==2.33.1
openpi==0.1.0
asttokens==3.0.0
thop==0.1.1-2209072238
mistune==3.1.4
google-auth==2.41.1
hf-xet==1.1.10
gym-aloha==0.1.3
tensorflow-hub==0.15.0
tensorstore==0.1.73
argon2-cffi-bindings==25.1.0
urllib3==2.4.0
httpcore==1.0.9
h11==0.16.0
dm_control==1.0.28
pyasn1==0.6.1
attrs==25.3.0
immutabledict==4.2.2
psutil==7.0.0
rich==14.0.0
webcolors==24.11.1
nvidia-nccl-cu11==2.14.3
Pygments==2.19.1
cycler==0.12.1
ml_collections==1.1.0
gitdb==4.0.12
wandb==0.19.9
easydict==1.13
optree==0.18.0
jsonschema-specifications==2025.9.1
ml_dtypes==0.5.1
imageio-ffmpeg==0.6.0
widgetsnbextension==4.0.14
Tree==0.2.4
tyro==0.9.35
defusedxml==0.7.1
jupyterlab_widgets==3.0.15
beautifulsoup4==4.14.2
labmaze==1.0.6
GitPython==3.1.44
jupyterlab_server==2.27.3
typeguard==4.4.4
nbformat==5.10.4
numpy==2.2.5
promise==2.3
yarl==1.22.0
jupyter_client==8.6.3
multidict==6.7.0
docstring_parser==0.17.0
termcolor==3.1.0
google-pasta==0.2.0
terminado==0.18.1
matplotlib-inline==0.1.7
moviepy==2.2.1
rfc3339-validator==0.1.4
beartype==0.19.0
webencodings==0.5.1
nvidia-nvtx-cu12==12.8.90
pyzmq==27.1.0
mdit-py-plugins==0.5.0
cffi==2.0.0
tensorflow==2.20.0
pluggy==1.6.0
torchvision==0.23.0
pexpect==4.9.0
proto-plus==1.26.1
jupytext==1.18.1
omegaconf==2.3.0
idna==3.10
shtab==1.7.2
tqdm==4.67.1
cloudpickle==3.1.1
ipywidgets==8.1.7
nvidia-cublas-cu12==12.8.4.1
aiosignal==1.4.0
numpydantic==1.7.0
gym==0.26.2
python-json-logger==4.0.0
jaxtyping==0.2.36
tensorflow-metadata==1.17.2
async-lru==2.0.5
ipython_pygments_lexers==1.1.1
augmax==0.4.1
nvidia-cublas-cu11==11.10.3.66
array_record==0.8.1
lark==1.3.0
jsonschema==4.25.1
glfw==2.9.0
pillow==11.2.1
click==8.1.8
Send2Trash==1.8.3
transformers==4.53.2
mpmath==1.3.0
scipy==1.15.2
lxml==5.3.2
opencv-python==4.12.0.88
parso==0.8.5
jupyter_core==5.9.1
typing-inspection==0.4.0
tensorflow-text==2.15.0
treescope==0.1.9
google-cloud-core==2.4.3
ogbench==1.1.2
jax==0.6.0
nvidia-nvjitlink-cu12==12.8.93
typing_extensions==4.13.2
dm-tree==0.1.9
json5==0.12.1
rfc3986-validator==0.1.1
rsa==4.9.1
types-python-dateutil==2.9.0.20251008
grpcio==1.76.0
tensorflow-cpu==2.15.1
debugpy==1.8.17
six==1.17.0
toolz==1.0.0
jupyter==1.1.1
pydantic==2.11.3
nvidia-curand-cu11==10.2.10.91
dlimp==0.0.1
absl-py==2.2.2
jupyter-console==6.6.3
comm==0.2.3
kiwisolver==1.4.9
etils==1.12.2
fonttools==4.60.1
einops==0.8.1
wcwidth==0.2.14
googleapis-common-protos==1.70.0
jupyter_server_terminals==0.5.3
bddl==1.0.1
ipykernel==7.0.0
websockets==15.0.1
prometheus_client==0.23.1
pycparser==2.23
simple-parsing==0.1.7
llvmlite==0.45.1
matplotlib==3.10.7
ptyprocess==0.7.0
jupyterlab_pygments==0.3.0
jedi==0.19.2
iniconfig==2.3.0
gcsfs==2025.9.0
uri-template==1.3.0
websocket-client==1.9.0
httpx==0.28.1
google-resumable-media==2.7.2
arrow==1.3.0
nvidia-cuda-nvcc-cu12==12.8.93
lit==18.1.8
antlr4-python3-runtime==4.9.3
msgpack==1.1.0
keras==3.13.0
argon2-cffi==25.1.0
setproctitle==1.3.5
huggingface-hub==0.35.3
nvidia-curand-cu12==10.3.9.90
networkx==3.5
wrapt==1.17.2
tensorflow-probability==0.25.0
aiohappyeyeballs==2.6.1
nvidia-cufile-cu12==1.13.1.3
safetensors==0.6.2
h5py==3.15.1
